
<section id="example1">
 <div  class="row">
    
    <div class="col-md-4"   ng-controller="switchViews"  >
         <select ng-model="multipleSelect" ng-change="someFunction()" class="dropdown-dark dropdown-select">
          <option style="display:none;" selected="" disabled="" value="">Select an option</option>
          <option  value="/login" href="#/login">Select a option1</option>
          <option  value="/track" href="#/track">Select a option2</option>
          <option  value="/comments" href="#/comments">Select a option3</option>
          <option  value="/track" href="#/track">Select a option4</option>
        </select>
    </div>
  </div>

  
      <div  class="row">
        <div class="col-md-offset-3 col-md-4">
           <div class="form-group">
               <h1 > Tracked Posts</h1>
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5"  id="comment" height="300px" width="300px" placeholder="list of available tracked posts"></textarea>
            </div>

            
        </div>

        <div class="col-md-4">
             <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
              <button type="button" class="btn btn-primary btn-md">select source</button>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
              <button type="button" class="btn btn-primary btn-md">select source</button>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" disabled>Option 3</label>
              <button type="button" class="btn btn-primary btn-md">select source</button>
            </div>
        </div>

    </div>    
    
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
</section>